<!-- Time.now.strftime("%m/%d/%Y") -->
<!-- Time.now.strftime("%I:%M%p") -->
<%= erb(:search_and_friends)%>
<div class='wrapper'>
  <% if is_current_user?(@user) %>
    <header>
      <ul class="options">
        <li>
          <h3 class="welcome">Welcome Back <%= @user.full_name %></h3>
        </li><br>
        <li class="prof_links">
          <a class="movie_list_link" href="/profile/<%= @user.id %>/movie_list">List of Movies you've watched</a>
        </li>
        <li class="prof_links">
          <a class="search_friends" href="/search_friends">Search other people</a>
        </li>
        <li class="prof_links">
          <a class="list_of_friends" href="/list_of_friends">List of your friends</a>
        </li>
      </ul>
      <a class="logout" href="/logout">LOGOUT</a>
    </header>
    <!-- <a href="/logout">Logout</a> -->
  <% else %>
    <header>
      <ul>
        <li>
          <h3>Profile of <span><%= @user.full_name %></span></h3>
          <form class="add_person" action="/profile/<%= @user.id %>/add" method="post">
            <!-- <input type="hidden" name="_method" value="put"> -->
            <input type="submit" class="add_to_friends" value="add to friends">
          </form>
        </li>
        <li>
          <a href="/profile/<%= @user.id %>/movie_list">
            List of your friend movies
          </a>
        </li>
      </ul>
    </header>
  <% end %>
  <article>
    <h2>Find movie that you have watched</h2>
    <form action="/" method="get" class="search_form">
      <input name="title" class='title' type="text" placeholder="movie title">
      <input type="submit" value="search" class="search">
    </form>
  </article>
</div>
<%= erb(:search) %>
<% if is_current_user?(@user) %>
  <form action="/profile/<%= @user.id %>" method="post" class="add_form">
    <!-- <input type="hidden" name="_method" value="put" > -->
    <input type="submit" class="add_to_watched hidden" value="add to watched">
  </form>
<% end %>
<footer>
  <ul>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Pinterest</a></li>
    <li><a href="mailto:example@gmail.com">Contact us via Email</a></li>
  </ul>
</footer>